@function string-starts-with($string, $test) {
  @return str-index($string, $test) == 1;
}

@function str-last-index($string, $substr) {
  $index: null;
  $length: str-length($string);
  @for $n from $length through 1 {
    $index: str-index(str-slice($string, $n, $length), $substr);
    @if $index {
      @return $index + $n - 1;
    }
  }
  @return $index;
}

@function character-to-keyword($character) {
  $map: (
    "…": ellipsis,
  );

  @if index($map, $character) {
    @return map-get($map, $character);
  }

  @return $character;
}

@function numbering-system-to-keyword($system) {
  $unsupported: (
    "cakm",
  );

  $map: (
    "arab": arabic-indic,
    "arabext": persian,
    "armn": armenian,
    "beng": bengali,
    "deva": devanagari,
    "latn": decimal,
    "mymr": myanmar,
    "tibt": tibetan,
  );

  @if map-has-key($map, $system) {
    @return map-get($map, $system);
  }

  @if index($unsupported, $system) {
    @return map-get($map, "latn");
  }

  @error "Unknown numbering system '#{$system}'";
}
