@import "spacing";
@import "../locales";

@mixin inline-list() {
  list-style: none;
  @include nospace("inline-start");
}

@mixin inline-list-item() {
  display: inline;

  @each $locale, $separator in $inline-list-separators {
    @if $locale == "und" {
      &:after {
        content: $separator;
      }
    } @else {
      &:lang(#{$locale}):after {
        content: $separator;
      }
    }
  }

  &:last-child:after {
    content: "";
  }
}
