@import "../functions/sizes";

@mixin block-size($size_in_px) {
  height: #{$size_in_px}px;
  height: #{get-rem-from-px($size_in_px)}rem;
  block-size: #{get-rem-from-px($size_in_px)}rem;
}

@mixin inline-size($size_in_px) {
  width: #{$size_in_px}px;
  width: #{get-rem-from-px($size_in_px)}rem;
  inline-size: #{get-rem-from-px($size_in_px)}rem;
}

@mixin _constrain-block-size($size_in_px, $extreme) {
  #{$extreme}-height: #{$size_in_px}px;
  #{$extreme}-height: #{get-rem-from-px($size_in_px)}rem;
  #{$extreme}-block-size: #{get-rem-from-px($size_in_px)}rem;
}

@mixin _constrain-inline-size($size_in_px, $extreme) {
  #{$extreme}-width: #{$size_in_px}px;
  #{$extreme}-width: #{get-rem-from-px($size_in_px)}rem;
  #{$extreme}-inline-size: #{get-rem-from-px($size_in_px)}rem;
}

@mixin max-block-size($size_in_px) {
  @include _constrain-block-size($size_in_px, max);
}

@mixin min-block-size($size_in_px) {
  @include _constrain-block-size($size_in_px, min);
}

@mixin max-inline-size($size_in_px) {
  @include _constrain-inline-size($size_in_px, max);
}

@mixin min-inline-size($size_in_px) {
  @include _constrain-inline-size($size_in_px, min);
}
