@import "../functions/sizes";
@import "../variables/baselinegrid";
@import "../variables/color";
@import "../variables/font";
@import "spacing";

@mixin font-size($size_in_px) {
  font-size: #{$size_in_px}px;
  font-size: get-rem-from-px($size_in_px) * 1rem;
}

@mixin set-font-size-and-vertical-height($font-size-in-px, $vertical-height-in-px: $baselinegrid-space-small-in-px) {
  @include font-size($font-size-in-px);
  line-height: #{($vertical-height-in-px / $font-size-in-px)};
}

@mixin _heading-base-typography() {
  font-family: $font-secondary;
  font-weight: 600;
}

@mixin h1-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h1_in_px, 48);
}

@mixin h2-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h2_in_px, 30);
}

@mixin h3-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h3_in_px);
}

@mixin h4-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h4_in_px);
}

@mixin h5-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h5_in_px);
}

@mixin h6-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h6_in_px);
}

@mixin body-typography() {
  font-family: $font-primary;
  @include set-font-size-and-vertical-height($font-size-base-in-px);
  font-weight: normal;
}

@mixin small-typography() {
  font-family: $font-primary;
  font-style: normal;
  @include set-font-size-and-vertical-height(11);
}

@mixin body-para {
  @include body-typography();
  @include body-spacing();
}

@mixin inline-image {
  margin-bottom: 0.1em;
  max-height: 1em;
  vertical-align: middle;
}
