@import "../mixins/types";
@import "../variables/baselinegrid";
@import "../variables/color";
@import "../variables/font";
@import "spacing";

@mixin set-font-size-and-vertical-height($font-size, $vertical-height: $baselinegrid-space-small) {
  @include rem(font-size, $font-size);
  line-height: $vertical-height / $font-size;
}

@mixin _heading-base-typography() {
  font-family: $font-secondary;
  font-weight: 600;
}

@mixin h1-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h1, 48px);
}

@mixin h2-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h2, 30px);
}

@mixin h3-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h3);
}

@mixin h4-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h4);
}

@mixin h5-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h5);
}

@mixin h6-typography() {
  @include _heading-base-typography();
  @include set-font-size-and-vertical-height($font-size-h6);
}

@mixin body-typography() {
  font-family: $font-primary;
  @include set-font-size-and-vertical-height($font-size-base);
  font-weight: normal;
}

@mixin small-typography() {
  font-family: $font-primary;
  font-style: normal;
  @include set-font-size-and-vertical-height(11px);
}

@mixin body-para {
  @include body-typography();
  @include body-spacing();
}

@mixin inline-image {
  margin-bottom: 0.1em;
  max-height: 1em;
  vertical-align: middle;
}

@mixin _label-typography($color, $uppercase: true) {
  color: $color;
  font-family: $font-secondary;
  font-weight: normal;
  @include set-font-size-and-vertical-height($font-size-label);
  letter-spacing: $font-letterspacing-label;
  @if $uppercase {
    text-transform: uppercase;
  }
}

@mixin label-content-typography($color: $color-text-secondary, $uppercase: true) {
  @include _label-typography($color, $uppercase);
}

@mixin label-tag-typography() {
  @include _label-typography($color-primary-normal);
}
