{% set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['grid-item-full']) }) -%}

<div {%- include 'atoms-attributes' %}>

  {%- include 'atoms-text' with {nodes: content|default('hello?')} -%}

</div>
