$libero-font-primary: "Noto Serif", serif;
$libero-font-secondary: "Noto Sans", Arial, Helvetica, sans-serif;
$libero-font-monospace: "Courier 10 Pitch", Courier, monospace;
$libero-font-size-base-in-px: 16;
$libero-font-size-h1-in-px: 36;
$libero-font-size-h2-in-px: 26;
$libero-font-size-h3-in-px: 22;
$libero-font-size-h4-in-px: 20;
$libero-font-size-h5-in-px: 18;
$libero-font-size-h6-in-px: 16;
$libero-font-size-caption-in-px: 13;
