@import "../test";
@import "../../../source/css/sass/mixins/sizes";

@include describe("@mixin block-size") {

  @include it("generates correct fallbacks") {

    @include assert() {

      @include output {
        @include block-size(32px);
      }

      @include expect {
        height: 32px;
        height: 2rem;
        block-size: 2rem;
      }

    }

    @include assert() {

      @include output {
        @include block-size(1em);
      }

      @include expect {
        height: 1em;
        block-size: 1em;
      }

    }

    @include assert() {

      @include output {
        @include block-size(1rem);
      }

      @include expect {
        height: 16px;
        height: 1rem;
        block-size: 1rem;
      }

    }

  }

  @include it("errors when 2 sizes values passed") {

    @include assert() {

      @include output {
        @include block-size(1 2);
      }

      @include expect {
        _error: "Expected a single value";
      }

    }

  }

}

@include describe("@mixin inline-size") {

  @include it("generates correct fallbacks") {

    @include assert() {

      @include output {
        @include inline-size(32px);
      }

      @include expect {
        width: 32px;
        width: 2rem;
        inline-size: 2rem;
      }

    }

    @include assert() {

      @include output {
        @include inline-size(1em);
      }

      @include expect {
        width: 1em;
        inline-size: 1em;
      }

    }

    @include assert() {

      @include output {
        @include inline-size(1rem);
      }

      @include expect {
        width: 16px;
        width: 1rem;
        inline-size: 1rem;
      }

    }

  }

  @include it("errors when 2 sizes values passed") {

    @include assert() {

      @include output {
        @include inline-size(1 2);
      }

      @include expect {
        _error: "Expected a single value";
      }

    }

  }

}

@include describe("@mixin max-block-size") {

  @include it("generates correct fallbacks") {

    @include assert() {

      @include output {
        @include max-block-size(32px);
      }

      @include expect {
        max-height: 32px;
        max-height: 2rem;
        max-block-size: 2rem;
      }

    }

    @include assert() {

      @include output {
        @include max-block-size(1em);
      }

      @include expect {
        max-height: 1em;
        max-block-size: 1em;
      }

    }

    @include assert() {

      @include output {
        @include max-block-size(1rem);
      }

      @include expect {
        max-height: 16px;
        max-height: 1rem;
        max-block-size: 1rem;
      }

    }

  }

  @include it("errors when 2 sizes values passed") {

    @include assert() {

      @include output {
        @include max-block-size(1 2);
      }

      @include expect {
        _error: "Expected a single value";
      }

    }

  }

}

@include describe("@mixin min-block-size") {

  @include it("generates correct fallbacks") {

    @include assert() {

      @include output {
        @include min-block-size(32px);
      }

      @include expect {
        min-height: 32px;
        min-height: 2rem;
        min-block-size: 2rem;
      }

    }

    @include assert() {

      @include output {
        @include min-block-size(1em);
      }

      @include expect {
        min-height: 1em;
        min-block-size: 1em;
      }

    }

    @include assert() {

      @include output {
        @include min-block-size(1rem);
      }

      @include expect {
        min-height: 16px;
        min-height: 1rem;
        min-block-size: 1rem;
      }

    }

  }

  @include it("errors when 2 sizes values passed") {

    @include assert() {

      @include output {
        @include min-block-size(1 2);
      }

      @include expect {
        _error: "Expected a single value";
      }

    }

  }

}

@include describe("@mixin max-inline-size") {

  @include it("generates correct fallbacks") {
    @include assert() {

      @include output {
        @include max-inline-size(32px);
      }

      @include expect {
        max-width: 32px;
        max-width: 2rem;
        max-inline-size: 2rem;
      }

    }
  }

  @include it("errors when 2 sizes values passed") {

    @include assert() {

      @include output {
        @include max-inline-size(1 2);
      }

      @include expect {
        _error: "Expected a single value";
      }

    }

  }

}

@include describe("@mixin min-inline-size") {

  @include it("generates correct fallbacks") {

    @include assert() {

      @include output {
        @include min-inline-size(32px);
      }

      @include expect {
        min-width: 32px;
        min-width: 2rem;
        min-inline-size: 2rem;
      }

    }

    @include assert() {

      @include output {
        @include min-inline-size(1em);
      }

      @include expect {
        min-width: 1em;
        min-inline-size: 1em;
      }

    }

    @include assert() {

      @include output {
        @include min-inline-size(1rem);
      }

      @include expect {
        min-width: 16px;
        min-width: 1rem;
        min-inline-size: 1rem;
      }

    }

  }

  @include it("errors when 2 sizes values passed") {

    @include assert() {

      @include output {
        @include min-inline-size(1 2);
      }

      @include expect {
        _error: "Expected a single value";
      }

    }

  }

}
