{% spaceless %}

  {%- if attributes.href is defined -%}
    <a {%- include 'atoms-attributes' %}>{%- include 'atoms-text' with {nodes: text} only -%}</a>
  {%- elseif attributes|length -%}
    <span {%- include 'atoms-attributes' %}>{%- include 'atoms-text' with {nodes: text} only -%}</span>
  {%- else -%}
    {%- include 'atoms-text' with {nodes: text} only -%}
  {%- endif -%}

{% endspaceless %}
