@import "../../variables/baselinegrid";
@import "../../variables/color";
@import "../../variables/content_header";
@import "../../mixins/media-query";
@import "../../mixins/spacing";
@import "../../mixins/typography";

.content-header {
  color: $color-text-normal;
  text-align: center;
  @include blg-spacing("block-start", "medium");
  @include blg-spacing("block-end", "small");

  &:after {
    border-bottom: 1px solid $color-text-dividers;
    border-block-end: 1px solid $color-text-dividers;
    content: "";
    display: block;
    @include padding($baselinegrid-space-small-in-px - 1, "block-start");
    width: 100%;
  }
}

.content-header__title {
  @include margin(0, "block-start");
  @include blg-spacing("block-end", "small", "margin");
}

.content-header__title--xx-short {
  @include font-size($content_header-title-size-xx_large);

  @include mq($from: small) {
    @include font-size($content_header-title-size-xxx_large);
  }
}

.content-header__title--x-short {
  @include font-size($content_header-title-size-x_large);

  @include mq($from: medium) {
    @include font-size($content_header-title-size-xx_large);
  }

  @include mq($from: wide) {
    @include font-size($content_header-title-size-xxx_large);
  }
}

.content-header__title--short {
  @include font-size($content_header-title-size-medium);

  @include mq($from: small) {
    @include font-size($content_header-title-size-large);
  }

  @include mq($from: medium) {
    @include font-size($content_header-title-size-x_large);
  }

  @include mq($from: wide) {
    @include font-size($content_header-title-size-xx_large);
  }

  @include mq($from: x-wide) {
    @include font-size($content_header-title-size-xxx_large);
  }
}

.content-header__title--medium {
  @include font-size($content_header-title-size-small);

  @include mq($from: small) {
    @include font-size($content_header-title-size-medium);
  }

  @include mq($from: medium) {
    @include font-size($content_header-title-size-large);
  }

  @include mq($from: wide) {
    @include font-size($content_header-title-size-x_large);
  }

  @include mq($from: x-wide) {
    @include font-size($content_header-title-size-xxx_large);
  }
}

.content-header__title--long {
  @include font-size($content_header-title-size-x_small);

  @include mq($from: small) {
    @include font-size($content_header-title-size-small);
  }

  @include mq($from: medium) {
    @include font-size($content_header-title-size-large);
  }

  @include mq($from: x-wide) {
    @include font-size($content_header-title-size-x_large);
  }

}

.content-header__title--x-long {
  @include font-size($content_header-title-size-x_small);

  @include mq($from: medium) {
    @include font-size($content_header-title-size-small);
  }

  @include mq($from: wide) {
    @include font-size($content_header-title-size-small);
  }

  @include mq($from: x-wide) {
    @include font-size($content_header-title-size-medium);
  }
}

.content-header__title--xx-long {
  @include font-size($content_header-title-size-xx_small);

  @include mq($from: small) {
    @include font-size($content_header-title-size-x_small);
  }

  @include mq($from: wide) {
    @include font-size($content_header-title-size-small);
  }
}
