@import "../../mixins/lists";
@import "../../mixins/typography";

.item-tag-list {
  @include inline-list();
  @include blg-spacing("block-end", "small", "margin");
  .item-tags__group:last-child & {
    @include margin(0, "block-end");
  }
}

.item-tag-list__item {
  @include inline-list-item();
  @include label-subject-typography();
}

.item-tag-list__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
