@import "../../locales";
@import "../../mixins/typography";

.item-tag-list {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include nospace("inline-start");
  .item-tags__group:last-child & {
    @include margin(0, "block-end");
  }
}

.item-tag-list__item {
  display: inline;
  @include label-subject-typography();

  @each $locale, $separator in $list-separators {
    @if $locale == "und" {
      &:after {
        content: $separator;
      }
    } @else {
      &:lang(#{$locale}):after {
        content: $separator;
      }
    }
  }

  &:last-child:after {
    content: "";
  }
}

.item-tag-list__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
