@import "../../mixins/typography";

.tag-list {
  @include blg-spacing("block-end", "small", "margin");
}

.tag-list__title {
  @include label-content-typography();
  @include padding(0, "block");
}

.tag-list__list {
  list-style: none;
  @include blg-spacing("block-end", "small", "margin");
  @include padding(0, "inline-start");
}

.tag-list__item {
  display: inline;
  @include label-tag-typography();

  &:after {
    content: ", ";
  }

  &:lang(ar):after {
    content: "، ";
  }

  &:lang(ja):after {
    content: "、";
  }

  &:last-child:after {
    content: "";
  }
}

.tag-list__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-dark;
  }
}
