{%- import 'atoms-html' as html -%}

{%- set attributes = {class: 'teaser-list'}|merge_recursive(attributes|default({})) -%}

{%- if title.text is defined -%}
  {%- set title_id = title.attributes.id|default('heading' ~ random()) -%}
  {%- set attributes = attributes|merge({'aria-labelledby': title_id}) -%}
  {%- set title = title|merge({_id: title_id}) -%}
{%- endif -%}

<div {{- html.attributes(attributes) }}>

  {%- with title|default({}) only -%}
    {%- block title -%}

      {% if text is defined %}

        {%- set attributes = {id: _id, class: 'teaser-list__title'}|merge_recursive(attributes|default({})) -%}
        {%- include 'atoms-heading' with {level: level|default(2)} -%}

      {% endif %}

    {%- endblock title -%}
  {%- endwith -%}

  {%- with list|merge({html: html}) only -%}
    {%- block list -%}

      {%- if items|default([])|length -%}

        {%- set attributes = {class: 'teaser-list__list'}|merge_recursive(attributes|default({})) -%}

        <ol {{- html.attributes(attributes) }}>

          {%- for item in items -%}

            {%- with item|merge({html: html}) only -%}
              {%- block item -%}

                {%- set attributes = {class: 'teaser-list__item'}|merge_recursive(attributes|default({})) -%}

                <li {{- html.attributes(attributes) }}>

                  {%- with content only -%}
                    {%- block content -%}

                      {%- include 'molecules-teaser' -%}

                    {%- endblock content -%}
                  {%- endwith -%}

                </li>

              {%- endblock item -%}
            {%- endwith -%}

          {%- endfor -%}

        </ol>

      {%- else -%}

        {%- if empty is not iterable -%}
          {%- set empty = [{template: 'atoms-paragraph', arguments: {text: empty}}] -%}
        {%- endif -%}

        {%- with {empty: empty, html: html} only -%}
          {%- block empty -%}

            {{- html.content(empty) -}}

          {%- endblock empty -%}
        {%- endwith -%}

      {%- endif -%}

    {%- endblock list -%}
  {%- endwith -%}

</div>
