@import "../../node_modules/sass-true/sass/true";
@import "../../source/css/sass/_mixins--spacing.scss";

@include describe("padding [Mixin]") {

  @include it("generates correct fallbacks with a single zero value and no dimension") {
    @include assert() {

      @include output {
        @include padding(0);
      }

      @include expect {
        padding: 0;
      }

    }
  }

  @include it("generates correct fallbacks with a single non-zero value and no dimension") {
    @include assert() {

      @include output {
        @include padding(16);
      }

      @include expect {
        padding: 16px;
        padding: 1rem;
      }

    }
  }

  @include it("generates correct fallbacks with a single zero value for dimension 'inline'") {
    @include assert() {

      @include output {
        @include padding(0, "inline");
      }

      @include expect {
        padding-left: 0;
        padding-right: 0;
        padding-inline: 0;
      }

    }
  }

  @include it("generates correct fallbacks with a single non-zero value for dimension 'inline'") {
    @include assert() {

      @include output {
        @include padding(16, "inline");
      }

      @include expect {
        padding-left: 16px;
        padding-left: 1rem;
        padding-right: 16px;
        padding-right: 1rem;
        padding-inline: 1rem;
      }

    }
  }

  @include it("generates correct fallbacks with a pair of values for dimension 'inline'") {
    @include assert() {

      @include output {
        @include padding(16 32, "inline");
      }

      @include expect {
        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
          padding-left: 16px;
          padding-left: 1rem;
          padding-right: 32px;
          padding-right: 2rem;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
          padding-right: 16px;
          padding-right: 1rem;
          padding-left: 32px;
          padding-left: 2rem;
        }

        html[dir] & {
          padding-inline: 1rem 2rem;
        }
      }

    }

    @include assert() {

      @include output {
        @include padding(16 16, "inline");
      }

      @include expect {
        padding-left: 16px;
        padding-left: 1rem;
        padding-right: 16px;
        padding-right: 1rem;
        padding-inline: 1rem;
      }

    }

    @include assert() {

      @include output {
        @include padding(0 32, "inline");
      }

      @include expect {
        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
          padding-left: 0;
          padding-right: 32px;
          padding-right: 2rem;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
          padding-right: 0;
          padding-left: 32px;
          padding-left: 2rem;
        }

        html[dir] & {
          padding-inline: 0 2rem;
        }
      }

    }

    @include assert() {

      @include output {
        @include padding(16 0, "inline");
      }

      @include expect {
        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
          padding-left: 16px;
          padding-left: 1rem;
          padding-right: 0;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
          padding-right: 16px;
          padding-right: 1rem;
          padding-left: 0;
        }

        html[dir] & {
          padding-inline: 1rem 0;
        }
      }

    }

    @include assert() {

      @include output {
        @include padding(0 0, "inline");
      }

      @include expect {
        padding-left: 0;
        padding-right: 0;
        padding-inline: 0;
        }

    }
  }

  @include it("Ignores more than two values in the sizes list for the dimension 'inline'") {
      @include assert() {

        @include output {
          @include padding(16 32 48, "inline");
        }

        @include expect {
          html[dir="ltr"] &:not([dir]),
          &[dir="ltr"] {
            padding-left: 16px;
            padding-left: 1rem;
            padding-right: 32px;
            padding-right: 2rem;
          }
          html[dir="rtl"] &:not([dir]),
          &[dir="rtl"] {
            padding-right: 16px;
            padding-right: 1rem;
            padding-left: 32px;
            padding-left: 2rem;
          }

          html[dir] & {
            padding-inline: 1rem 2rem;
          }
        }
      }
    }

  @include it("generates correct fallbacks with a single zero value for the dimension 'inline-start'") {
   @include assert() {

     @include output {
       @include padding(0, "inline-start");
     }

     @include expect {
       html[dir="ltr"] &:not([dir]),
       &[dir="ltr"] {
         padding-left: 0;
       }
       html[dir="rtl"] &:not([dir]),
       &[dir="rtl"] {
         padding-right: 0;
       }
       html[dir] & {
        padding-inline-start: 0;
       }

   }
  }
}

  @include it("generates correct fallbacks with a single non-zero value for the dimension 'inline-start'") {
   @include assert() {

     @include output {
       @include padding(16, "inline-start");
     }

     @include expect {
       html[dir="ltr"] &:not([dir]),
       &[dir="ltr"] {
         padding-left: 16px;
         padding-left: 1rem;
       }
       html[dir="rtl"] &:not([dir]),
       &[dir="rtl"] {
         padding-right: 16px;
         padding-right: 1rem;
       }
       html[dir] & {
        padding-inline-start: 1rem;
       }
     }
  }
}

  @include it("Ignores more than one value in the sizes list for the dimension 'inline-start'") {
    @include assert() {

      @include output {
        @include padding(16 32, "inline-start");
      }

      @include expect {
        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
          padding-left: 16px;
          padding-left: 1rem;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
          padding-right: 16px;
          padding-right: 1rem;
        }
        html[dir] & {
          padding-inline-start: 1rem;
        }
      }

    }
  }

  @include it("generates correct fallbacks with a single zero value for the dimension 'inline-end'") {
    @include assert() {

      @include output {
       @include padding(0, "inline-end");
      }

      @include expect {
        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
         padding-right: 0;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
         padding-left: 0;
        }
        html[dir] & {
          padding-inline-end: 0;
        }

      }
    }
  }

  @include it("generates correct fallbacks with a single non-zero value for the dimension 'inline-end'") {
    @include assert() {

     @include output {
       @include padding(16, "inline-end");
     }

     @include expect {
       html[dir="ltr"] &:not([dir]),
       &[dir="ltr"] {
         padding-right: 16px;
         padding-right: 1rem;
       }
       html[dir="rtl"] &:not([dir]),
       &[dir="rtl"] {
         padding-left: 16px;
         padding-left: 1rem;
       }
       html[dir] & {
        padding-inline-end: 1rem;
       }
     }
   }
}


  @include it("Ignores more than one value in the sizes list for the dimension 'inline-end'") {
    @include assert() {

      @include output {
        @include padding(16 32, "inline-end");
      }

      @include expect {
        html[dir="ltr"] &:not([dir]),
        &[dir="ltr"] {
          padding-right: 16px;
          padding-right: 1rem;
        }
        html[dir="rtl"] &:not([dir]),
        &[dir="rtl"] {
          padding-left: 16px;
          padding-left: 1rem;
        }
        html[dir] & {
          padding-inline-end: 1rem;
        }
      }

    }
  }

  @include it("generates correct fallbacks with a single zero value for dimension 'block'") {
    @include assert() {

      @include output {
        @include padding(0, "block")
      }

      @include expect {
        padding-top: 0;
        padding-bottom: 0;
        padding-block: 0;
      }

    }
  }

  @include it("generates correct fallbacks with a single non-zero value for dimension 'block'") {
    @include assert() {

      @include output {
        @include padding(16, "block")
      }

      @include expect {
        padding-top: 16px;
        padding-top: 1rem;
        padding-bottom: 16px;
        padding-bottom: 1rem;
        padding-block: 1rem;
      }

    }
  }

  // Vertical writing modes not yet supported
  @include it("generates correct fallbacks with a pair of non-zero values for dimension 'block'") {
    @include assert() {

      @include output {
        @include padding(16 32, "block")
      }

      @include expect {
        padding-top: 16px;
        padding-top: 1rem;
        padding-bottom: 32px;
        padding-bottom: 2rem;

        padding-block: 1rem 2rem;
      }

    }
  }

  @include it("Ignores more than two values in the sizes list for the dimension 'block'") {
    @include assert() {

      @include output {
        @include padding(16 32 48, "block");
      }

      @include expect {
          padding-top: 16px;
          padding-top: 1rem;
          padding-bottom: 32px;
          padding-bottom: 2rem;
          padding-block: 1rem 2rem;
      }
    }
  }

}
