@import "../../variables/color";
@import "../../variables/font";
@import "../../mixins/positioning";
@import "../../mixins/spacing";
@import "../../mixins/typography";

$_info-bar-gutter: 8px;
$_info-bar-image-offset: $font-size;

.info-bar {
  color: $color-text-reverse;
  font-family: $font-secondary;
  font-weight: 600;
  @include set-font-size-and-line-height(scale(-1));
  @include padding($baselinegrid-space-extra_small $_info-bar-gutter);
  text-align: center;

  @supports (display: flex) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    @include subtle-link();
  }
}

.info-bar--attention {
  background-color: $color-attention;
}

.info-bar--info {
  background-color: $color-information;
}

.info-bar--success {
  background-color: $color-success;
}

.info-bar--warning {
  background-color: $color-warning;
}

.info-bar__image {
  @include block-size($baselinegrid-space-small);
  @include margin(0 $_info-bar-image-offset, inline);
  vertical-align: top;

  @supports (display: flex) {
    @include block-size(auto);
    @include max-block-size($baselinegrid-space-medium);
  }
}
