@import "../../mixins/sizes";
@import "../../mixins/typography";
@import "../../variables/baselinegrid";

.tag-list {
  @include block-spacing();
}

.tag-list__title {
  @include label-content-typography();
  @include block-spacing($end: 0);
}

.tag-list__list {
  @include list-style-none();
  @include label-tag-typography();
}

.tag-list__list--single-line {
  @include truncate-with-ellipsis();
}

.tag-list__item {
  display: inline-block;
  @include label-tag-typography();
  @include list-separator();
}

.tag-list__link {
  @include covert-link();
}
