@import "mixins/spacing";
@import "mixins/typography";
@import "variables/color";
@import "vendor/normalize.css/normalize";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  @include block-size(100%);
}

body {
  background-color: $color-background;
  color: $color-text-normal;
  text-rendering: optimizeLegibility;
  @include body-typography();
}

h1 {
  @include h1-typography();
  @include h1-spacing();
}

h2 {
  @include h2-typography();
  @include h2-spacing();
}

h3 {
  @include h3-typography();
  @include h3-spacing();
}

h4 {
  @include h4-typography();
  @include h4-spacing();
}

h5 {
  @include h5-typography();
  @include h5-spacing();
}

h6 {
  @include h6-typography();
  @include h6-spacing();
}

p {
  @include body-para();
}

a {
  color: $color-primary-normal;
  text-decoration: none;
}

ul,
ol {
  @include blg-spacing("block-end", "small", "margin");
  @include margin(0, "block-start");
}

dl {
  @include blg-spacing("block-end", "small", "margin");
  @include margin(0, "block-start");
}

li,
dt,
dd {
  @include body-typography();
}

dt {
  font-weight: bold;

  dd + & {
    @include blg-spacing("block-start", "small", "margin");
  }
}

dd {
  @include margin(0, "inline-start");
}

small {
  @include small-typography();
  @include small-spacing();
}

sub {
  @include font-variant-position(sub);
}

sup {
  @include font-variant-position(super);
}

address {
  @include small-typography();
  @include small-spacing();
}

img {
  @include max-block-size(100%);
  @include max-inline-size(100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  img {
    @include inline-image();
  }
}

:lang(ja) {
  @at-root {
    em#{&} {
      font-style: normal;
      text-emphasis-style: open sesame;
      text‑emphasis‑position: over right;
    }

    strong#{&} {
      font-style: normal;
      text-emphasis-style: filled sesame;
      text‑emphasis‑position: over right;
    }

    u#{&} {
      text-underline-position: right;
    }
  }
}

:lang(ko) {
  @at-root {
    em#{&} {
      font-style: normal;
      text-decoration: underline;
      text-underline-position: under right;
    }

    strong#{&} {
      font-style: normal;
      text-emphasis-style: filled dot;
      text‑emphasis‑position: over right;
    }
  }
}

:lang(zh) {
  @at-root {
    em#{&} {
      font-style: normal;
      text-emphasis-style: open dot;
      text‑emphasis‑position: under right;
    }

    strong#{&} {
      font-style: normal;
      text-emphasis-style: filled dot;
      text‑emphasis‑position: under right;
    }

    cite#{&} {
      font-style: normal;
      text-decoration: underline;
      text-underline-style: wavy;
    }
  }
}

:lang(zh-Hant) {
  @at-root {
    em#{&} {
      text‑emphasis‑position: over right;
    }

    strong#{&} {
      text‑emphasis‑position: over right;
    }
  }
}
