$libero-blg-space-extra-small-in-px: 12;
$libero-blg-space-small-in-px: $libero-blg-space-extra-small-in-px * 2;
$libero-blg-space-smallish-in-px: $libero-blg-space-small-in-px * 1.5;
$libero-blg-space-medium-in-px: $libero-blg-space-small-in-px * 2;
$libero-blg-space-large-in-px: $libero-blg-space-small-in-px * 3;
$libero-blg-space-extra-large-in-px: $libero-blg-space-small-in-px * 5;
