$color-primary-normal: rgb(2, 136, 209) !default;
$color-primary-light: rgb(179, 229, 252) !default;
$color-primary-dark: rgb(2, 119, 189) !default;
$color-text-normal: rgb(33, 33, 33) !default;
$color-text-reverse: rgb(255, 255, 255) !default;
$color-text-secondary: rgb(136, 136, 136) !default;
$color-text-secondary__reverse: rgb(158, 158, 158) !default;
$color-text-placeholder: rgb(189, 189, 189) !default;
$color-text-dividers: rgb(224, 224, 224) !default;
$color-text-dividers__reverse: rgb(97, 97, 97) !default;
$color-text-ui_background: rgb(255, 255, 255) !default;
$color-text-ui_background_hue: rgb(245, 245, 245) !default;
$color-text-ui_code: rgb(247, 247, 247) !default;
$color-text-ui_background__reverse: rgb(33, 33, 33) !default;
$color-text-ui_background_hue__reverse: rgb(51, 51, 51) !default;
$color-background: rgb(255, 255, 255) !default;
$color-information: rgb(2, 136, 209) !default;
$color-success: rgb(98, 159, 67) !default;
$color-success_dark: rgb(86, 144, 55) !default;
$color-attention: rgb(207, 12, 78) !default;
$color-warning: rgb(230, 81, 0) !default;
