$font-letterspacing-label: 0.5px !default;
$font-primary: "Noto Serif", serif !default;
$font-secondary: "Noto Sans", Arial, Helvetica, sans-serif !default;
$font-monospace: "Courier 10 Pitch", Courier, monospace !default;
$font-size: 16px !default;
