$grid-edge_space-medium: 7vw !default;
$grid-edge_space-large: 14vw !default;
$grid-min_width: 320px !default;
$grid-max_width: 1114px !default;
$grid-main_column_count: 12 !default;
$grid-column_gap: 1.6% !default;
$grid-divider_size: 1px !default;
